@page
@model MX.Skilling.Web.Pages.Account.SignOutModel
@{
    ViewData["Title"] = "Sign Out";
}

<div class="text-center">
    <h1 class="display-4">Signing Out...</h1>
    <p>You are being signed out.</p>
</div>
