@page
@model MX.Skilling.Web.Pages.Account.SignInModel
@{
    ViewData["Title"] = "Sign In";
}

<div class="text-center">
    <h1 class="display-4">Signing In...</h1>
    <p>You are being redirected to sign in.</p>
</div>
