@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<main>
    <section class="text-center" aria-labelledby="welcome-heading">
        <h1 id="welcome-heading" class="display-4">Welcome</h1>
        <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </section>
</main>
