@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<main>
    <section class="text-center" aria-labelledby="welcome-heading" data-automation-id="home-main-section">
        <h1 id="welcome-heading" class="display-4" data-automation-id="welcome-heading">Welcome</h1>
        <p data-automation-id="welcome-description">Learn about <a href="https://learn.microsoft.com/aspnet/core"
                data-automation-id="aspnet-core-link">building Web apps with ASP.NET Core</a>.</p>
    </section>
</main>
