@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<main>
    <section aria-labelledby="privacy-heading" data-automation-id="privacy-main-section">
        <h1 id="privacy-heading" data-automation-id="privacy-heading">@ViewData["Title"]</h1>
        <p data-automation-id="privacy-description">Use this page to detail your site's privacy policy.</p>
    </section>
</main>
