@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<main>
    <section aria-labelledby="privacy-heading">
        <h1 id="privacy-heading">@ViewData["Title"]</h1>
        <p>Use this page to detail your site's privacy policy.</p>
    </section>
</main>
